.HomeMainContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.welcomeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    gap: 20px;
  
}

.tituloBemVindo{
    font-size: 60px;
}
.subtitulo{
    font-weight: 400;
}

.divIcons{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 20px;
    border-radius: 15px;
    border: rgba(255, 255, 255, 0.116) solid 1px;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Aplica o desfoque no fundo */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidade com navegadores WebKit */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda leve para o efeito de vidro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Sombra para o efeito 3D */
    padding: 20px; /* Espaço interno */
    color: white; /* Cor do texto */


}
.titituloIcons{
    font-size: 30px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDivBlocos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.divIconsInfo{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
   
}
@media (min-width: 1440px) and (max-height: 1080px) {
    .divIconsInfo {
        width: 70%; /* Novo valor para essa resolução */
    }
}


.buttonRendCracha{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    transition: all 600ms;
}
.buttonRendCracha:hover{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    text-decoration: none;
    color: white;
    font-weight: 700;
    -webkit-box-shadow: 1px 2px 81px 8px rgba(0,204,221,0.52);
    -moz-box-shadow: 1px 2px 81px 8px rgba(0,204,221,0.52);
    box-shadow: 1px 2px 81px 8px rgba(0,204,221,0.52);
    background-color: #00ccdd;
}



.iconIDCard{
  font-size: 45px;
}